<!DOCTYPE html>
<html lang="en">

<head>


	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!-- Google Fonts API -->
	<link href="https://fonts.googleapis.com/css?family=Gugi" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple|3d-float">

	<!-- Custom stylesheets -->
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='stylesheet' href='/stylesheets/comments.css' />
	<!-- CSS -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400|Roboto:300,400,500">
	<link rel="stylesheet" href="/template/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/template/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/template/css/animate.css">
	<link rel="stylesheet" href="/template/css/style.css">


</head>

<body>

	<!-- Top menu -->
	<nav class="navbar navbar-fixed-top navbar-no-bg" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="../">Yolo</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="top-navbar-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="../profile">Profile</a></li>
					<li><a href="../#fh5co-features">Features</a></li>
					<li><a href="../#fh5co-features-2">Developers</a></li>
					<li><a href="../logout">Sign out</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Top content -->
	<div class="top-content">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text wow fadeInLeft">
					<h1><%= title %> : <%= name %></h1>
					<div class="description">
						<h4>Description: </h4>
						<p class="medium-paragraph">
								<%= description %>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Javascript -->
	<script src="/template/js/jquery-1.11.1.min.js"></script>
	<script src="/template/bootstrap/js/bootstrap.min.js"></script>
	<script src="/template/js/jquery.backstretch.min.js"></script>
	<script src="/template/js/wow.min.js"></script>

	<script src="/template/js/waypoints.min.js"></script>
	<script src="/template/js/scripts.js"></script>

</body>

</html>